.button {
  display: flex;
  width: max-content;
  margin: 0 auto;
  padding: 12px 20px;

  font-size: initial;
  line-height: initial;

  background-color: #FFFFFF;
  border: none;
  border-radius: 20px;
  overflow: hidden;
  transition: .2s linear;

  &:active {
    transform: scale(0.95);
    background-color: mediumpurple;
  }
}
