.bottomMenu {
  position: fixed;
  left: 0;
  right: 0;
  bottom: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 20px 0;
  gap: 20px;
  background: linear-gradient(90.37deg, #3B3A4F 0.24%, #46475E 99.6%);
  border-radius: 20px 20px 0 0;
}

.link {
  font-size: 16px;
  line-height: 1.2;
  color: #FFFFFF;
  text-decoration: none;
}
