.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
  padding: 10px 0;
  background-color: var(--tg-theme-bg-color);
}

.headerWrapper {
  display: flex;
  align-items: center;
  gap: 20px;
}
